@import "fonts";

.portfolio-single {
  padding: 40px 10px 40px 10px;
  position: relative;
  z-index: 1;
  font-family: $verdana_r;
  .main-picture {
    width: 100%;
    margin-bottom: 40px;
  }
  .title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .description {
    padding: 20px 10%;
    text-align: center;
    line-height: 1.4;
  }
  .sections {
    .section {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
    }
    .section-img-wrapper {
      padding: 0 10px;
      flex: 1;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 767px) {
  .portfolio-single {
    .description {
      padding: 20px 10px;
    }
  }
}
