<!DOCTYPE html>
<html>
    <% include head.ejs %>
    <body>
        <main class="wrapper">
            <% include leftBar.ejs %>
            <article class="container">

            </article>
        </main>
    </body>
</html>
