/* Import other styles, fonts, mixins... */

@import "default";
@import "mixin";
@import "fonts";

/* Similar styles */

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}
body,
a,
input,
textarea{
  font-family: $myriad_pro_b;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

a{
  outline: none !important;
}

.wrapper{
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
}

.title{
  h1{
    font-family: $verdana_b;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.6);
  }
}

.text_content{
  .content{
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    h2{
      font-family: $verdana_b;
      font-size: 36px;
      line-height: 1.1;
    }
    h3{
      font-family: $verdana_b;
      font-size: 24px;
      line-height: 1.1;
    }
    p{
      margin-top: 15px;
      font-size: 16px;
      line-height: 22.4px;
    }
  }
  &.with_bg{
    position: relative;
    background: url("/images/backgrounds/bg_middle.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 70px 0;
  }
}

.signature{
  .img{
    text-align: center;
    img{
      max-width: 300px;
    }
  }
}

.items_similar_styles{
  position: relative;
  background: url("/images/backgrounds/bg_middle.png") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  .content {
    @include flexbox();
    @include justify-content(center);
    @include flex-wrap(wrap);
    & > div {
      text-align: center;
      user-select: none;
      margin: 0 2.5px;
      & > div {
        text-align: center;
        &.item_img{
          img{

          }
        }
        &.item_name{
          span{
            display: inline;
            text-transform: capitalize;
          }
        }
        &.item_description{
          ul{
            li{

            }
          }
          p{

          }
        }
      }
    }
  }
}

/* Body styles */

article {
  position: relative;
  height: 100vh;
  z-index: auto;
  .bg_sim_styles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
  }

  .bg_index {
    background: url("/images/backgrounds/bg_index.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &.bg_about {
    background: url("/images/backgrounds/bg_about.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .bg_clients {
    background: url("/images/backgrounds/bg_clients.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &.bg_services {
    background: url("/images/backgrounds/bg_services.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .bg_team {
    background: url("/images/backgrounds/bg_team.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &.bg_contact_us, &.bg_location {
    background: url("/images/backgrounds/bg_contact_us.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}




/* Main content's styles */

main{
  .middle_bg{
    position: absolute;
    top: 50%;
    left: 0;
    @include prefix-name(transform, translate(0, -50%));
    background: url("/images/backgrounds/bg_middle.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    background-position: top;
    animation: MoveUpDown 30s infinite alternate;
  }
}

.centering_content{
  width: 100%;
  height: auto;
}

.noPadding {
  padding: 0 !important;
}

.hidden {
  display: none !important;
}

@keyframes MoveUpDown {
  0%, 100% {
    background-position: top;
  }
  50% {
    background-position: bottom;
  }
}