@import "mixin";
@import "fonts";

article.bg_location {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(space-between);

  & > header {
    @include flex-grow(1);
  }
  & > main {
    background: url(/images/backgrounds/bg_middle.png) no-repeat center center;
    background-size: cover;
    @include flex-grow(12);
    @include flexbox();

    & > iframe {
      padding: 60px;
      @include flex-grow(1);
      max-width: 100%;
      margin: 0 auto;
    }
  }
  & > footer {
    @include flex-grow(4);
  }

  @media (max-width: 880px) {
    background: #14151A !important;
    & header {
      display: none !important;
    }
    & main {
      background: none;

      & > iframe {
        height: auto;
        margin-top: 40px;
        padding: 0;
      }
    }
    & > footer {
      @include flex-direction(column);
    }

    .large_footer {
      display: none !important;
    }

    #hiddenFooter {
      display: flex !important;
      @include flex-direction(row);
      @include justify-content(center);
      background: #060709;
      padding: 20px 0;
      & > div {
        margin-right: 15px;
        &:last-of-type {
          margin-right: 0;
        }

        & a {
          font-size: 22px;
        }
      }
    }
  }
}
