@import "fonts";

.portfolio-wrapper {
  overflow: hidden;
  height: calc(100vh - 70px);
  font-family: $verdana_r;
}
.portfolio {
  position: relative;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  .portfolio-item {
    width: 25vw;
    max-width: 480px;
    height: calc(50vh - 35px);
    padding: 20px 10px;
    .portfolio-item-wrapper {
      background: no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: relative;
      height: 100%;
      display: block;
    }
    .title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 10px;
      display: none;
      align-items: center;
      height: 40px;
      width: 100%;
      background-color: #1f1f23;
      color: rgba(255, 255, 255, 0.6);
      font-size: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: $verdana_r;
    }
    &:hover {
      .title {
        display: flex;
      }
    }
  }
  transition: margin-top 1s;
}

@media (max-width: 1023px) {
  .portfolio .portfolio-item {
    width: calc(100vw / 3);
    max-width: unset;
  }
}

@media (max-width: 767px) {
  .portfolio .portfolio-item {
    width: 50vw;
  }
}

@media (max-width: 549px) {
  .portfolio .portfolio-item {
    width: 100vw;
  }
}
