@import "mixin";
@import "fonts";

article.bg_location {
  & > #uglyFooter {
    display: none !important;
    flex-direction: column !important;

    &, & > #social {
      @include flexbox();
      @include flex-direction(row);
    }

    & > #phones, & > #addresses {
      & > div {
        line-height: 25px;
      }
      font-family: $myriad_pro_r;
      color: #616164;
    }

    & > #social {
      @include justify-content(center);
      & > li {
        margin-right: 15px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    & > #gameChanger {
      display: none;
    }
  }

  @media (max-width: 880px) {
    & > #uglyFooter {
      display: flex !important;
      flex-grow: 20;
      width: max-content;
      margin: 0 auto;

      & > #addresses {
        font-size: 20px;
        display: flex;
        & > *{
          margin-left: 10px;
        }
        & .addressLogo {

          & img {
            width: auto;
            height: 50px;
          }
        }
      }

      & > #phones {
        font-size: 30px;
        & .phone {
          @include flexbox();
          @include align-items(center);
          & > * {
            margin-left: 10px;
          }
          & img {
            width: auto;
            height: 50px;
          }
        }
      }
      & > #gameChanger {
         display: block !important;
        text-align: center;
         #game {
           font-size: 40px;
           span {
             color: #4F4F53;
           }
         }

         #changer {
           font-size: 53px;
         }
       }
      & > #addresses, & #social, & > #gameChanger {
        margin-top: 40px;
      }

    }
  }
}
