@import "mixin";
@import "fonts";

article.bg_location {
  & > #uglyFooter {
    display: none !important;
    flex-direction: column !important;

    &, & > #social {
      @include flexbox();
      @include flex-direction(row);
    }

    & > #phones, & > #addresses {
      & > div {
        line-height: 25px;
      }
      font-family: $myriad_pro_r;
      color: #616164;
    }

    & > #social {
      @include justify-content(center);
      & > li {
        margin-right: 15px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    & > #gameChanger {
      display: none;
    }
  }

  @media (max-width: 880px) {
    & > #uglyFooter {
      display: flex !important;
      flex-grow: 20;
      width: max-content;
      margin: 0 auto;
      @include justify-content(space-between);

      & > #addresses {
        text-align: center;
      }
      & > #addresses, & #social, & > #addresses > div:last-child {
        margin-top: 20px;
      }
      & #social {
        @include justify-content(center);
        & li {
          @include flex-grow(0);
          text-align: center;
        }
        img {
          width: 80%;
          //height: 40px;
        }
      }
    }
  }
}
