@import "fonts";
.modal {
  display: none;
  &.opened {
    display: flex;
  }
  width: 300px;
  height: 200px;
  position: fixed;
  top: calc(50vh - 100px);
  left: calc(50vw - 150px);
  background: #202027;
  border: 1px solid #636368;
  flex-direction: column;
  justify-content: space-between;
  & .close {
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
    outline: none;
    background: #004246;
    color: rgba(255, 255, 255, 0.7);
    padding: 6px 20px;
    font-family: "Myriad Pro Bold", sans-serif;
    font-size: 20px;
    line-height: 24px;
    width: 150px;
  }
}