@import "fonts";
@import "mixin";

.modal {
  display: none;

  &.opened {
    display: flex;
  }

  width: 300px;
  height: 200px;
  position: fixed;
  text-align: center;
  background: #202027;
  top: calc(50vh - 100px);
  left: calc(50vw - 150px);
  border: 1px solid #636368;
  @include flex-direction(column);
  @include justify-content(space-between);
  & > div:first-of-type {
    font-size: 25px;
    padding: 20px 0;
  }

  & .close {
    width: 150px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    padding: 6px 20px;
    line-height: 24px;
    background: #004246;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    @include align-self(center);
    color: rgba(255, 255, 255, 0.7);
    font-family: "Myriad Pro Bold", sans-serif;

    &:hover {
      color: #ccc;
    }
  }
}
