@import 'mixin';

.addressLine {

  @include flexbox();
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(center);
  @include flex-grow(2);

  padding: 10px 0;
  & div {
    font-size: 20px;
    margin-right: 20px;
  }

  @media (max-width: 880px) {
    display: none;
  }
}