@import "mixin";
@import "fonts";

.clients_slider{
  .slick-slider{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
    .slick-slide{
      height: 80px;
      line-height: 80px;
      & > div{
        height: inherit;
        line-height: inherit;
        .slide_item {
          height: inherit;
          line-height: inherit;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 0 15px;
          text-align: center;
          img.client_logo {
            max-height: 100%;
            max-width: 100%;
            display: inline-block;
            vertical-align: middle;
            filter: saturate(0);
            @include transition(.1s);
            &:hover {
              filter: saturate(1);
            }
          }
        }
      }
    }
    .slick-dots{
      display: none;
    }
  }
}

main{

  &.our_clients{
    .clients_slider{
      margin-top: 50px;
      position: relative;
      background: url("/images/backgrounds/bg_middle.png") no-repeat center center;
      -webkit-background-size: cover;
      background-size: cover;
      min-height: 200px;
      .slider {
        padding: 60px;
      }
    }
    .text_content{
      margin-top: 50px;
      .content{
        p{
          max-width: 85%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    .signature{
      margin-top: 50px;
    }
  }
}