@import "mixin";
@import "fonts";

footer {
  z-index: 1;
}
.basic_footer {
  &.mobileBasicFooter {
    display: none;
  }

  margin-bottom: 20px;
  .socialize {
    display: inline-block;
    z-index: 2;
    ul {
      li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        a {
          @include transition();
          display: block;
          opacity: .45;
          img {
            height: 48px;
          }
          &:hover {
            opacity: 1;
          }
        }
        &:not(:first-child) {
          margin-left: 6px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .basic_footer {
    padding-bottom: 30px;
    padding-left: 20px;
  }
}
