@import "mixin";
@import "fonts";

footer{
  z-index: 1;
}
.basic_footer{
  width: 25%;
  margin-bottom: 20px;
  .socialize{
    display: inline-block;
    z-index: 2;
    ul{
      li{
        display: inline-block;
        vertical-align: middle;
        a{
          @include transition();
          display: block;
          opacity: .65;
          img{
            height: 20px;
          }
          &:hover{
            opacity: 1;
          }
        }
        &:not(:first-child){
          margin-left: 6px;
        }
      }
    }
  }
}
