$verdana_r: 'Verdana Regular';
$verdana_b: 'Verdana Bold';
$myriad_pro_r: 'Myriad Pro Regular';
$myriad_pro_b: 'Myriad Pro Bold';

@font-face {
  font-family: 'Verdana Regular';
  src: url('/fonts/Verdana.eot');
  src: local('/fonts/Verdana'),
  url('/fonts/Verdana.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Verdana.woff') format('woff'),
  url('/fonts/Verdana.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Verdana Bold';
  src: url('/fonts/Verdana-Bold.eot');
  src: local('/fonts/Verdana Bold'), local('/fonts/Verdana-Bold'),
  url('/fonts/Verdana-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Verdana-Bold.woff') format('woff'),
  url('/fonts/Verdana-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('/fonts/MyriadPro-Regular.eot');
  src: local('/fonts/Myriad Pro Regular'), local('/fonts/MyriadPro-Regular'),
  url('/fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MyriadPro-Regular.woff') format('woff'),
  url('/fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Bold';
  src: url('/fonts/MyriadPro-Bold.eot');
  src: local('/fonts/Myriad Pro Bold'), local('/fonts/MyriadPro-Bold'),
  url('/fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MyriadPro-Bold.woff') format('woff'),
  url('/fonts/MyriadPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
