* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
textarea {
    min-height: 300px;
    resize: none;
}
form.auth {
    max-width: 400px;
    margin: 40px auto;
}
.logo {
    display: block;
    width: 50%;
    margin: 0 auto;
}
.log-out {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
}
main.wrapper {
    display: flex;
}
.menu {
    background-color: #222d32;
    height: 100vh;
    padding: 20px 0;
    width: 230px;
    overflow: auto;
}
.menu ul {
    padding: 0;
}
.menu .tab {
    list-style: none;
}
.menu .tab:hover, .menu .tab.active {
    background-color: #182126;
}
.menu .tab a {
    color: white;
    margin: 15px 0;
    padding: 5px 0 5px 40px;
    display: block;
    text-decoration: none !important;
}
.container-fluid {
    width: calc(100% - 230px);
    height: 100vh;
    overflow: auto;
}

.delete {
    cursor: pointer;
}

.section {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    padding: 0 20px;
    margin: 5px 0;
}
