@import "mixin";
@import "fonts";

.home_carousel {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  .slick-slider {
    height: inherit;
    .slick-list {
      height: inherit;
    }
    .slick-slide {
      height: 100%;
      div {
        text-align: center;
        overflow: hidden;
      }
    }
  }
  .slick-dots {
    bottom: 15px;
    .slide-dots {
      li {
        button {
          @include transition();
          height: 15px !important;
          width: 15px !important;
          @include prefix-name(50%);
          background-color: rgba(255, 255, 255, 0.4) !important;
          &:before {
            display: none;
          }
        }
        &.slick-active {
          button {
            background-color: rgba(255, 255, 255, 0.8) !important;
          }
        }
        &:hover {
          button {
            background-color: rgba(255, 255, 255, 0.6) !important;
          }
        }
      }
    }
  }
  .slick-prev, .slick-next {
    z-index: 9999999;
    width: 40px;
    height: 40px;
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
  .carousel-item {
    height: calc(100vh);
    position: relative;
    outline: none;
    .main {
      margin: 0 auto;
      width: 100%;
      &, & * {
        object-fit: contain;
        height: 100%;
        width: 100%;
        margin: 0 auto;
      }
    }
    .text {
      position: absolute;
      top: 0;
      left: 0;
      &, & * {
        object-fit: contain;
        height: 100%;
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}

main {
  &.index_content {
    position: relative;
    height: calc(100vh - 150px);
    .middle_bg {
      min-height: 40vh;
    }
  }
}
