@import "mixin";
@import "fonts";

main{
  &.our_services {
    .service_items {
      margin-top: 50px;
      min-height: 240px;
      .content {
        padding-top: 30px;
        padding-bottom: 30px;
        .service_item {
          padding-top: 20px;
          padding-bottom: 20px;
          .item_img {
            width: 200px;
            height: 120px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            img {
              height: 100px;
            }
          }
          .item_name {
            @include transition();
            margin: 10px auto 0;
            max-width: 180px;
            background: #013846;
            height: 32px;
            line-height: 32px;
            @include prefix-name(2px);
            overflow: hidden;
            span {
              font-family: $myriad_pro_b;
              color: #ffffff;
              height: 16px;
              line-height: 16px;
            }
          }
          .item_description {
            max-width: 180px;
            margin: 10px auto 0;
            font-family: $verdana_r;
            font-size: 11px;
            line-height: 1.4;
            color: rgba(255, 255, 255, 0.4);
          }
          &:hover {
            .item_img img {
              height: 110px;
              margin-top: -10px;
            }
            .item_name {
              background: #cccfcf;
              span {
                color: #013746;
              }
            }
          }
        }
      }
    }
    .text_content {
      margin-top: 50px;
      .content {
        p {
          margin-top: 0;
          max-width: 52%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .bg_services {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(space-between);

    & > header {
      display: none;
    }

    & > main {
      @include flex-grow(1);
      @include flexbox();
      @include flex-direction(column);
      //@include justify-content(space-between);

      & .title {
        padding: 20px 0;
      }
      & .service_items {
        &.globalClosed {
          display: none!important;
        }
        padding: 10px 0;
        @include flexbox();
        @include align-items(center);
        @include flex-grow(1);
        margin-top: 0;
        & > .wrapper {
          padding: 0 10px;
          & .content {
            @include flexbox();
            @include flex-direction(row);
            @include justify-content(space-around);
            padding: 0;

            & .service_item {
              padding: 0;
              cursor: pointer;
              width: 29vw;
            }

            & .item_img {
              height: 70px;
              width: auto;
              & img {
                height: 50px;
              }
            }
            & .item_name {
              margin-top: 0;
              background: #19191F;
              height: 28px;
              line-height: 28px;
              span {
                color: rgba(255, 255, 255, 0.6);
                font-size: 12px;
              }
            }
            & .item_description {
              &.closed {
                display: none;
              }
            }

          }
        }
      }

      & .text_content {
        background: #18191F;
        margin-top: 0;
        padding: 5px 0;
        &.closed {
          display: none;
        }
        & .wrapper {
          padding: 0 10px;
          & p {
            max-width: 90%;
            line-height: 1.1;
          }
        }
      }
    }
    & > .basic_footer {
      display: none;
    }
  }
}
